.topnav {
  overflow: hidden;
  background-color: rosybrown;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  margin: 15px 15px 15px 15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font: bold;
  text-decoration: none;
  padding: 10px;
}
body {
  font-family: helvetica;
}

a:hover {
  color: rebeccapurple;
  text-decoration: none;
}
.topnav a.active {
  text-decoration: #fff;
  color: azure;
}


.container h2{
  text-decoration: overline;
  box-shadow: 0 5px 5px rosybrown;
  color: rosybrown;
  text-align: center;
}
.team .member{
margin: 10px 10px 10px 10px;
}
.team img{
  width: 120%;
  height: 450px;
}
.con h2{
  text-decoration: overline;
  color: rosybrown;
  box-shadow: 0px 0px 5px 5px;
  text-align: center;
}

.mySlides video{
  width: 55%;
  border-radius: 25px 25px 25px 25px;
}

.row{
  display: flex;
  box-sizing: border-box;
}

.services {
  padding-bottom: 20px;
  width: 50%;
  margin-left: 25%;
}

.service-details {
  padding-bottom: 10px;
}


.team {
  background: #fff;
  padding-bottom: 30px;
}
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: -40px;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: bottom ease-in-out 0.4s;
  text-align: center;
  background: rosybrown;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .member .social a {
  transition: color 0.3s;
  color: #fff;
  margin: 0 12px;
  display: inline-block;
}
.team .member .social a:hover {
  color: rosybrown;
}
.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin: 15px 0 5px 0;
  font-size: 18px;
}
.team .member .member-info span {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
  color: rosybrown;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #666;
}
.team .member:hover .social {
  bottom: 0;
  opacity: 1;
  transition: bottom ease-in-out 0.4s;
}
.team .member:hover .social a, .team .member:hover .social i {
  line-height: 0;
  font-size: 18px;
}
.contact {
  padding-bottom: 30px;
}
footer {
  text-align: center;
  padding: 16pt;
  background-color: rosybrown;
  color: #000;
}
